img {
    max-width: 10vw;
    border-radius: 100px;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

p {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 25px;
    text-align: justify;
}